* {
	text-decoration: none;
	}
body {
		font-family: Arial, sans-serif;
		padding: 0;
		margin: 0;
		background-color: #f1f1f1;
	}
	
/*---------------*/

#page-container {
	margin: 1rem;
	position: relative;
	min-height: 100vh;
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
	padding: 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

main section {
	padding: 20px;
	border-radius: 10px;
}

/* Estilização para imagens na seção main */
.bloco-img {
	display: flex;
	justify-content: center;
}
.bloco-img img {
	max-width: 100%;
	margin-bottom: 10px;
	height: 100%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
	box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}

.bloco-img img:hover {
	transition: 0.5s ease-in;
	filter: blur(5px);
}

main .bloco-text-1 {
	display: flex;
	justify-content: center;
}

main .bloco-text p {
	color: #7D7987;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: clamp(0.50em, 1em + 3vw, 1em);
	line-height: 1.6;
}

main .bloco-text-1 p {
	color: #000;
	font-size: clamp(1.9em, 1em + 3vw, 1em);
	line-height: 120%;
	margin-bottom: -0.5px;
}

main .bloco-text-2 p {
	margin-top: 40px;
}
main .bloco-text .yellow {
	color: #F90;
	font-weight: 700;
}

main .bloco-text .black {
	color: #7D7987;
	font-weight: 700;
}

footer {
	display: flex;
	height: 2.5rem; 
	padding: 20px;
	align-items: self-end;
	justify-content: center;
}

footer .footer-container{
	position: absolute;
	bottom: 0;
	padding: 20px;
}

footer .social-media {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 110%;
}

footer .social-media a {
	display: contents;
	width: 0px;
	height: 0px;
	color: hsl(36deg 100% 65%);
	margin-right: 1rem;
	font-weight: 700;
	font-size: clamp(1em, 1em + 3vw, 1em);
	transition: 0.2s ease-in;
}

footer .social-media a:hover {
	color: #F90;
	transition: 0.2s ease-in;
}

footer .social-media a::after {
	content: '';
	width: 0px;
	height: 0px;
	border-bottom: 4px solid transparent;
	transition: .9s;
	background-color: #fff;
	display: block;
}

footer .social-media a:hover::after {
	width: 100%;
	height: 0px;
	padding: 0px;
	border-bottom: 4px solid #F90;
	transition: .9s;
}

.divisor {
	padding-right: 10px;
	margin: 1px;
}


/*
.lista-de-produtos .content .header p,
.categorias .content .header p,
footer .contact .contact_info div h3, footer .contact .contact_info div p,
footer .contact .contact_info > p,
.b-buy, .b-car, .close-modal,
.product-properties .open-modal,
li.nav-vitrine-button-lista-1,
.itens-vitrine-hidden .card .card-body .product-detail,
.categorias ul li p,
section.home .content p {
	font-size: clamp(1em, 1em + 3vw, 1em);
}
	.itens-vitrine-hidden .card .card-body .product-title,
header nav ul li a {
	font-size: clamp(1.25em, 1em + 3vw, 1.50em);
}
	.categorias ul li h3 {
	font-size: clamp(1.75em, 1em + 3vw, 1.50em);
}
	footer .contact .contact_info h1,
header h1,
section.home .content h2,
.categorias .content .header h1,
.lista-de-produtos .content .header h1 {
		font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}
	@media(max-width: 992px){
	header nav ul li a {
		font-size: clamp(1em, 1em + 3vw, 1em) !important;
	}
}

*/
	main .bloco-svg {
	display: flex;
	max-width: 100%;
	margin-bottom: 10px;
	height: 100%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
	box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}

main .bloco-svg svg {
	float: left;
	position: absolute;
	max-width: 100%;
	margin-bottom: 10px;
	height: 100%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
	box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}

.bloco-svg {
	bottom: -30px;
	position: absolute;
	right: -20px;
	/*justify-content: right;
	display: flex; */
}